.footer .foot-994 {
  height: 370px;
  left: 0;
  position: absolute;
  width: 100%;
  top: 4214px;
}

.footer .over-9 {
  height: 370px;
  position: relative;
  width: 100%;
}

.footer .foot-95 {
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.footer .over-10 {
  height: 370px;
  position: relative;
  width: 100%;
}

.footer .foot-96 {
  background-color: #000446;
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.footer .foot-97 {
  height: 178px;
  left: 15%;
  right: 15%;
  position: relative;
  top: 41px;
  width: 70%;
}

.footer .foot-98 {
  height: 178px;
  position: relative;
  width: 100%;
}

.footer .rapper-60 {
  color: #ffffff;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 40%;
  letter-spacing: 0;
  line-height: 72px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.footer .foot-99 {
  height: 76px;
  left: 0;
  position: absolute;
  top: 102px;
  width: 100%;
}

.footer .foot-100 {
  height: 76px;
  width: 270px;
}

.footer .foot-101 {
  height: 67px;
  left: 76px;
  position: absolute;
  top: 6px;
  width: 194px;
}

.footer .foot-102 {
  height: 67px;
  width: 198px;
}

.footer .over-group-9 {
  height: 67px;
  position: relative;
  width: 194px;
}

.footer .rapper-61 {
  color: #ffffff;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
  width: 194px;
}

.footer .rapper-62 {
  color: #ffffff;
  font-family: "Sansation-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.footer .img-2 {
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 76px;
}

.footer .foot-103 {
  height: 76px;
  left: 40%;
  position: absolute;
  top: 0;
  width: 291px;
}

.footer .over-11 {
  height: 63px;
  left: 78px;
  position: absolute;
  top: 6px;
  width: 209px;
}

.footer .rapper-63 {
  color: #ffffff;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.footer .foot-104 {
  height: 76px;
  left: 80%;
  position: absolute;
  top: 0;
  width: 264px;
}

.footer .over-12 {
  height: 67px;
  left: 78px;
  position: absolute;
  top: 6px;
  width: 182px;
}

.footer .rapper-64 {
  color: #ffffff;
  font-family: "Sansation-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
  width: 182px;
}

.footer .rapper-65 {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 38%;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  lign: center;
  top: 310px;
  white-space: nowrap;
}

.footer .line {
  height: 1px;
  left: 35%;
  position: absolute;
  top: 320px;
  width: 450px;
}

.footer .foot-105 {
  height: 32px;
  left: 43%;
  position: absolute;
  top: 261px;
  width: 162px;
}
